<stocks:>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Init Price</th>
        <th>Current Price</th>
        <th>Change</th>
      </tr>
    </thead>
    <tbody>
      {#each _page.stocks as :stock}
        <app:stock>
      {/}
    </tbody>
  </table>

<stock:>
  <tr class={stockRowClass(.)}>
    <td><a href="/stock/{{.name}}">{:stock.name}</a></td>
    <td>{:stock.price}</td>
    <td><span class={_page.stockPrices[.id].status}>{priceHandler(_page.stockPrices[.id].price.value)}</span></td>
    <td>{changeHandler(:stock.change)}%</td>
  </tr>
