<stocks:>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Init Price</th>
        <th>Current Price</th>
        <th>Change</th>
      </tr>
    </thead>
    <tbody>
      {#each _page.stocks as :stock}
        <app:stock>
      {/}
    </tbody>
  </table>

<stock:>
  <tr class={stockRowClass(.)}>
    <td>{:stock.name}</td>
    <td>{:stock.price}</td>
    <td>{_page.stockPrices[:stock.id].price}</td>
    <td>{changeHandler(:stock.change)}%</td>
  </tr>
