<bids:>
  <div class="bids">
    <h3>All Bids</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Type</th>
          <th>User</th>
          <th>Stock</th>
          <th>Requested Price</th>
          <th>Requested Amount</th>
          <th>Left to Execute</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        {#each _page.bids as :bid}
          <app:bid />
        {/}
      </tbody>
    </table>
  </div>

<bid:>
  <tr>
    <td>{{:bid.type}}</td>
    <td>{{auths[:bid.user].local.username}}</td>
    <td>{{stocks[:bid.stock].name}}</td>
    <td><input class="input-small" type="number" step="0.01" value={:bid.price}></td>
    <td><input class="input-small" type="number" step="1" value={:bid.amount}></td>
    <td>{{:bid.amountLeft}}</td>
    <td><button class="btn btn-danger btn-small" x-bind="click: bid.remove">Remove</button></td>
  </tr>
