<bids:>
  <div class="bids">
    <h1>Bids</h1>
    <ul>
      {#each _bids as :bid}
        <li><app:bid></li>
      {/}
    </ul>
  </div>

<bid:>
  <div class=bid>
    <span class="{bidClass(:bid)}">
      {{users[.user].auth.local.username}} wants to {{.type}} {{.origAmount}} <b>{{.stock}}</b> stocks for $<input value="{.price}"> each - (<input value="{.amount}"> remains to be execute).
    </span>
    <input class="sml" x-bind="click: removeBid" type="submit" value="x">
  </div>

<add:>
  <h1>Place your bid</h1>
  <form x-bind="submit: bid">
    <ul>
      <li>Type - <input value={_bidding.type}></li>
      <li>Stock - <input value={_bidding.stock}></li>
      <li>Amount - <input value={_bidding.amount}></li>
      <li>Price - <input value={_bidding.price}></li>
      <li><input type="submit" value="Bid"></li>
      </ul>
  </form>
