<import: src="../login">

<dashboard:>
  <div class="hero-unit">
     <div class="row-fluid">
      <div class="span6">
        <h1>Stock.JS</h1>
        <p>A stock exchange market written on top of Derby.<br>Have fun!</p>
        <p><a href="https://github.com/ZAQAZA/stock-example" class="btn btn-primary btn-large">Fork me on github &raquo;</a></p>
      </div>
      <div id="home-login" class="span6">
        {#if _loggedIn}
          <a href="/logout">Logout</a>
        {else}
          {#if _registered}
            <derby-auth:login />
            <br>
            <a x-bind="click: register">Not a Member?</a>
          {else}
            <derby-auth:register />
            <a x-bind="click: register">Already a Member?</a>
          {/}
        {/}
      </div>
    </div>
  </div>

  <div class="container">
  </div>
