<import: src="admin">
<import: src="portal">

<Head:>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    }
  </style>
  <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">

<Body:>
  <h1>Something went wrong</h1>

<Scripts:>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>

<Tail:>
  <noscript>
    Please enable javascript for a significantly better user experience.
  </noscript>