<import: src="navbar" ns="">
<import: src="home">
<import: src="stocks">
<import: src="stocks/show" ns="stock">
<import: src="inventory">
<import: src="admin">

<Head:>

<Scripts:>
  <script src="/js/jquery-2.0.3.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="http://code.highcharts.com/stock/highstock.js"></script>

<Header:>
  <body class="{{dash($ns)}}">
    <ui:connectionAlert>
    <app:navbar>
    <div class="container">

<Footer:>
    </div>
  <footer>
    <div class="container">
      <p>&copy; ZAQAZA 2013</p>
    </div>
  </footer>
