<navbar:>
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Stock.JS</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      {#if _page.user.local}
        <app:balance>
        <ul class="nav navbar-nav">
          <!-- Other templates are included like HTML elements -->
          <app:navLink title="Home" href="/">
          <app:navLink title="Stocks" href="/stocks">
          <app:navLink title="Inventory" href="/inventory">
          <app:navLink title="Admin" href="/admin">
        </ul>
      {/}
    </div>
  </nav>

<navLink:>
  <li class="{{#if equal($url, @href)}}active{{/}}">
    <a href="{{@href}}">{{@title}}</a>
  </li>

<balance:>
  <p class="navbar-text navbar-right">Hello <strong class="text-primary">{{_page.user.name}}</strong>
  , your balance is: <strong class="text-success">${_page.user.balance}</strong></p>
