@import "./reset";
@import "nib/vendor";

/*body {
  padding: 2em;
}
h1 {
  font-size: 2em;
  margin-bottom: .5em;
  margin-top: 1.2em;
}
h2 {
  font-size: 1.6em;
  margin-bottom: .5em;
  margin-top: 0.8em;
}
h3 {
  font-size: 1.2em;
  margin-bottom: .5em;
  margin-top: 0.2em;
}
p {
  line-height: 2em;
}*/
